body{
    text-align: center;
    margin=0;
    background-color: gray;
    font-family: helvetica;
}

h1{
    display: block;
    background-color: lightblue;
    font-family: copperplate;
    width = 100%;
}

.in-form{
    margin-top=0;
}

p{
    color: white;
}

.dollar-sign{
    height:20px;
    vertical-align: bottom;
}

.tbox{
   
}

div{
    display:block;
    white-space:nowrap;
}